---
import ImageContainer from "../components/ImageContainer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout
    title="KK49DW: File History Tips"
    subtitle="Windows11でのファイル履歴に関するメモ"
    lastUpdated="2026/03/20"
    showHomeButton={true}
>
    <section>
        <h3>はじめに</h3>
        <p>
            この記事は別名義でインターネット上に公開してあります。書き方含め、ほぼ同じような記事があったとしても、同一人物なので心配ご無用です。というかインターネット上の集合知ってそんなもんだからね。
        </p>
    </section>

    <section>
        <h3>
            Windows11のファイル履歴で特定のドライブが選択できない問題を解決する
        </h3>
        <p>Windowsの機能として、ファイル履歴がある。</p>

        <ImageContainer
            src="/img/filehistory_page.png"
            alt="ファイル履歴のページ"
            caption="コントロールパネルより、ファイル履歴の設定を開いたところ"
        />

        <p>さてこのファイル履歴というのがなかなかに曲者で、</p>
    </section>
</BaseLayout>
