---
import ImageContainer from "../components/ImageContainer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout
    title="KK49DW: File History Tips"
    subtitle="Windows11でのファイル履歴に関するメモ"
    lastUpdated="2026/03/20"
    showHomeButton={true}
>
    <section>
        <h3>はじめに</h3>
        <p>
            この記事は別名義でインターネット上に公開してあります。書き方含め、ほぼ同じような記事があったとしても、同一人物なので心配ご無用です。というかインターネット上の集合知ってそんなもんだからね。
        </p>
    </section>

    <section>
        <h3>Windows11のファイル履歴で特定のドライブが選択できない問題</h3>
        <p>
            Windowsの機能として、ファイル履歴がある。勝手にファイルのバックアップを取ってくれる、便利な機能で、変更履歴なんかとしてGit的に使うこともできる(あんまり実用的ではないが)。
        </p>

        <ImageContainer
            src="/img/filehistory_page.png"
            alt="ファイル履歴のページ"
            caption="コントロールパネルより、ファイル履歴の設定を開いたところ"
        />

        <p>
            さてこのファイル履歴というのがなかなかに曲者で、Windows8ぐらいからそのままになっている機能、というだけであるので、Windows11に完全には対応しきれていないところがある。Windows11からはOneDriveでバックアップとかファイル差分とか取ってね！ってことらしいが、デフォで5GBしかないドライブで一体何をバックアップしろと言うんだろうか。まあともかく、ファイル履歴には結構致命的なバグというか、不具合が多い。
        </p>

        <p>
            その一つが、一定期限を過ぎたファイルが削除されないという問題。ファイル履歴の設定画面では、一定時間以上のバックアップを保持しない、という設定があるのだが、どういうわけか、この設定が無視されて、いつまでもファイルが削除されないという問題が起きる。結果として、バックアップドライブの容量がどんどん圧迫されていく。
        </p>

        <ImageContainer
            src="/img/filehistory_setting.png"
            alt="ファイル履歴の設定画面"
            caption="ファイル履歴の設定画面。「保存されたバージョンを保持する期間」の設定は無視される。"
        />

        <p>
            筆者もこの問題に遭遇し、めんどくさいのでバックアップ先のディレクトリをそのまま削除した。つまり、<code
                >~/FileHistory/</code
            >以下のディレクトリを全部削除した。その後、ファイル履歴から再度バックアップを取ろうとしたところ、<b
                >ファイル履歴が保存先ドライブを認識しなくなった。</b
            >まあ要はドライブエラーということで、ファイル履歴が取れなくなってしまった。この文章では、この問題を解決する手順を記す。
        </p>
    </section>

    <section>
        <h3>解決法</h3>

        <p>
            この不具合の原因は、まず設定ファイルごと消えてしまったので、ファイル履歴の保存状況がわからないこと。それと、その状態をリセットする方法がないこと、の2点となる。なので、まずはこの状態をリセットする方法から記していく。
        </p>

        <h4>ファイル履歴のコンフィグを削除する</h4>

        <p>
            まず、<code
                >C:\Users\&lt;username&gt;\AppData\Local\Microsoft\Windows\FileHistory\Configuration</code
            >
            ディレクトリを抹消する。ここで、<code>&lt;username&gt;</code
            >は自身のユーザー名に置き換える。これはファイルパスから分かる通り、ファイル履歴のコンフィグを保持しているファイルが収められたディレクトリになる。このディレクトリを削除しても、後で再設定するときに復活するので大丈夫。
        </p>

        <p>
            削除したら、次はファイル履歴のサービス<code>FileHistoryService</code
            >を再起動する。サービスを再起動するには、<code>services.msc</code>
            を起動し、サービスの一覧から<code>FileHistoryService</code
            >を探して右クリックから再起動する、PowerShellで<code
                >Restart-Service FileHistoryService</code
            >を実行する、あるいは単純にPCを再起動する、などの方法がある。
        </p>

        <p>
            再起動したら、次はファイル履歴のページに戻る。すると、先程までは「ドライブエラー」と表示されていた選択画面から、ファイル履歴を保存していたドライブが消滅すると思う。挙動がおかしいが、ここまでは正常なので大丈夫。
        </p>

        <h4>ネットワークドライブとしてドライブを再選択する</h4>

        <p>
            ここからアクロバットをする。ドライブエラーは解消されたが、ファイル履歴を保存したいドライブが選べなくなってしまっていると思う。ここで、ファイル履歴を保存したいドライブをネットワークドライブとして再接続する。
        </p>

        <p>
            ネットワークドライブとして再接続するには、ファイル履歴から「ドライブの選択」を選択し、「ネットワークの場所の追加」を選択する。するとエクスプローラーが開くので、アドレスバーに<code
                >\\localhost\&lt;drivepath&gt;$\FileHistory</code
            >を入力する。ここで、<code>&lt;drivepath&gt;</code
            >はファイル履歴を保存したいドライブのパスに置き換える。例えば、Dドライブにファイル履歴を保存したい場合は、<code
                >\\localhost\D:\$FileHistory</code
            >と入力する。もし<code>FileHistory</code
            >ディレクトリごと消してしまった場合は再作成しよう。すると、ファイル履歴の保存先として、<b
                >ネットワークドライブとして</b
            >そのドライブが選択されるはずだ。
        </p>

        <h4>通常のドライブとして再選択する</h4>

        <p>
            ネットワークドライブとしてドライブを選択すると、勝手にファイル履歴のバックアップが始まってしまうと思う。おそらくこのままでも問題はないのだが、筆者はネットワークドライブとしてファイル履歴を保存したくなかったので、通常のドライブとして再選択することにした。
        </p>

        <p>
            通常のドライブとして再選択するには、バックアップを中止させてから、再度ファイル履歴から「ドライブの選択」を選択する。すると、この時点で消えていたドライブが復活しているはずなので、これを選択する。これで、ファイル履歴が通常のドライブとして選択されるはずだ。
        </p>
    </section>

    <section>
        <h3>おまけ</h3>
        <p>
            通常、ファイル履歴が保存されるのは、選択されたドライブの直下、すなわち<code
                >D:\FileHistory</code
            >
            のような場所である。しかしながら、ネットワークドライブとして選択させる方法だと、<code
                >D:\Backup\FileHistory</code
            >
            のような入り組んだディレクトリも選択させることができる。これを応用すると、通常は選択できない任意の場所でファイル履歴を保存させる事ができると思われる。
        </p>

        <p>
            これをやりたいシーンというのが想像できないが、ドライブ直下が散らかるのが嫌、みたいな人には嬉しいかもしれない。<b
                >なお、通常は選択できない場所にファイル履歴を保存した場合、正常に動作するのかは検証していないので、自己責任で。</b
            >
        </p>
    </section>
</BaseLayout>
