---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    title="KK49DW: Memorandum"
    subtitle="K4nine9の書き散らし"
    lastUpdated="2026/03/20"
    showHomeButton={true}
>
    <section>
        <h3>ポートフォリオを整理した(2026/03/19)</h3>
        <p>
            今までまともに見せられるポートフォリオがなく、Github上のリポジトリを直に公開して、README.mdとかにそれっぽい内容を書いておく、というストロングスタイルだったので、Github
            Pagesでそれっぽく見えるようにした。正直就活ももう終わりつつあるが、今後色々なことに使えるだろう…と期待している。
        </p>
        <p>
            ついでに文章を公開できるところも作った。それがここ。ポートフォリオから数クリックでアクセスできるような危険な場所にどんな文章を載せるんだよという話はあるが、なんか書きたくなったらなんか書くかもしれない。
        </p>
    </section>
</BaseLayout>
