---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="KK49DW: Memorandum"
  subtitle="K4nine9の書き散らし"
  lastUpdated="2026/03/20"
  showHomeButton={true}
>
  <section>
    <h3>ポートフォリオを整理した(2026/03/19)</h3>
    <p>
      今までまともに見せられるポートフォリオがなく、Github上のリポジトリを直に公開して、README.mdとかにそれっぽい内容を書いておく、というストロングスタイルだったので、Github
      Pagesでそれっぽく見えるようにした。正直就活ももう終わりつつあるが、今後色々なことに使えるだろう…と期待している。
    </p>
    <p>
      ついでに文章を公開できるところも作った。それがここ。ポートフォリオから数クリックでアクセスできるような危険な場所にどんな文章を載せるんだよという話はあるが、なんか書きたくなったらなんか書くかもしれない。
    </p>
  </section>

  <section>
    <h3>就活を完了(2026/05/26)</h3>
    <p>
      就活を完了した。12月末ぐらいからダラダラ始めた割には、結構良いところから内定をもらえた。ちょっと思い出しつつ、総括したいと思う。
    </p>
    <p>
      就活を始めたのは、12月末ぐらいだった。というのもこの段階ではほとんど何もしてなくて、そもそもどこに応募しようか？っていうのを情報収集した、っていうレベルだった。年末なのと、就活以外のタスクが割とあったので、結局ちゃんと動き始められたのは1月中旬ぐらいだった。
    </p>
    <p>
      最初に受けたのはLINEヤフーと、夏インターン行かせてくれたところだった。でもどっちも撃沈。今考えれば、軸も定まってないし強みもアピールできてなかったし、まあ受かるわけがないかという感じ。残当ってやつだ。
    </p>
    <p>
      行きたかったところに落ちて、一旦沈む。おれは別に無敵マンじゃないので、多少は落ち込む。幸運(?)なことに、研究室の奴らはほぼ誰も就活を始めていなかったので、「他よりも進んではいる」みたいな意識でなんとかモチベーションを維持することにした。このあたりで、Geminiと相談しまくって就活を進める、という方針をはっきりさせた。同時に、LabBaseみたいなスカウト型の求人サービスにも登録した。これはGeminiのアイデアだったが、おれの就活にとって凄まじい効果を発揮した。
    </p>
    <p>
      <a href="https://labbase.jp/">LabBase</a
      >は、登録した情報を見た企業からオファーが来るタイプのスカウトサービスだ。なので、こっちは企業をガンガン探す必要がなく、いい感じにプロフィールを満たしておけば企業の方からお誘いが来る。これは誓ってダイマでもステマでもないが、スカウト型のサービスはモチベーション維持のためにもものすごく良いので、ガクチカをある程度しっかり書けるなら登録してみる価値はあると思う。おすすめします。
    </p>
    <p>
      件のLabBaseに登録して最初に受けた就活関連イベントは、某天気予報アプリの会社のオンライン説明会だった。スカウトメッセージを受けてくれた人たちだけで開催してるとのことなので、こういう機会を得られることも強い。この会社以外にも、大企業と言えるようなところから、いわゆるベンチャーまで幅広くスカウトをもらい、説明会や早期選考に参加していくことになった。おれが興味を持った会社は5社。同時並行で選考を進めていくことになった。
    </p>
    <p>
      結果から言うと、1社は2次落ち、1社は最終落ちで、他は全部内定が出た。これ以外にも自分から応募した2社から内定をもらったので、最終的には5内定でのフィニッシュとなった。選考を進めていてわかったのは、おれはどちらかというとベンチャーより大きめの企業と相性がいい、ということ。ガツガツやりたいというタイプじゃないことを見抜かれてるのかもしれない。その一方で、割と大きめの企業からは結構ウケが良かった。内定もらってから「ぶっちゃけ最高評価です」みたいに言われたこともあった。
    </p>
    <p>
      ここで、何が良かったのか、何が悪かったのか一旦考えたい。まず良かったこととしては、さっさとスカウトサービスに頼って良かったということ。意味不明だが、12月・1月ごろに就活を始めるのは、もはや遅いとされているらしい。そんな中でもスカウトサービスのおかげで素早く就活を始められて、就活開始から最初の内定獲得までは2か月ちょい、というスピード感が実現できた。最初の会社で早々に落ちてモチベが死にかけたのも、スカウトのおかげで早い段階でリカバリーできたのでよかった。加えて、Geminiなどの生成AIをフル活用した点も良かったと思う。きょうび、ESとかをAI使って書いてます、って人のほうが多いと思う。おれの場合は、対策とか壁打ち、業界・企業分析、面接対策からES添削、ときにはAIに質問してその答えをブラッシュアップしてもらうなど、割とありとあらゆる場面で頼りにさせてもらった。もちろんAIが完全に代わりをしてくれるわけではないし、Web検索させたうえでもハルシネーションを起こすことも多々あるが、その分はこちらがファクトチェックしてやれば十分実運用に耐える。就活エージェントの類を利用したことはないが、多分同等かそれ以上の働きまでしてくれてるんじゃないか、と思う。
    </p>
    <p>
        逆に悪かったことは、動き出しが遅かったこと。夏ぐらいからじわじわ進めていけば、発狂して大量にエントリーを送りまくる必要もなかったと思うし、大量の逆お祈りメールを送って内定を辞退しまくる必要もなかった。お祈りメールって、送る側も結構辛いんだな…って思った。もう一つは、
    </p>
  </section>
</BaseLayout>
