---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="KK49DW: PortFolio of S. Hikaru"
  subtitle="ポートフォリオ"
  lastUpdated="2026/03/20"
  showHomeButton={true}
>
  <section>
    <h3>概要</h3>
    <p>TBA</p>

    <h3>スキル</h3>
    <h4>扱える言語</h4>
    <table>
      <tr>
        <td>Python</td>
        <td
          >：6年ほど継続して利用中。ほとんどの開発・開発において利用。PytorchやLlama-cpp-pythonを利用したローカルLLMの利用、Webアプリケーション・サービス開発、その他個人的なアプリ開発まで幅広く活用しています。</td
        >
      </tr>
      <tr>
        <td>C/C+/C++</td>
        <td
          >：4年ほど経験あり。プログラミング基礎学習に利用した他、Pythonでの処理を部分的に高速化するなど、アルゴリズム的な処理最適化に利用しています。</td
        >
      </tr>
      <tr>
        <td>R/Matlab</td>
        <td
          >：どちらも2~3年ほど利用。研究におけるデータ解析等に利用。統計解析に関しても経験があります。</td
        >
      </tr>
      <tr>
        <td>HTML/JS/CSS</td>
        <td
          >：2年ほど、Webアプリ開発などに利用。専門外ですが、UI/UXに気をつけて開発するよう心がけています。</td
        >
      </tr>
      <tr>
        <td>SQL/RDBMS</td>
        <td
          >：2年ほど、研究・開発の両面で利用。PostgreSQLとSQLiteが好きです。</td
        >
      </tr>
      <tr>
        <td>Shell Script</td>
        <td>：1.5年ほど、研究での実験自動化などに利用。</td>
      </tr>
      <tr>
        <td>Unix系OS(Linuxほか)</td>
        <td
          >：3年ほど利用。研究・開発の両面で利用。Ubuntu, Raspberry Pi
          OSなどを利用。</td
        >
      </tr>
      <tr>
        <td>Java</td>
        <td>：1年ほど利用。シミュレーションシステムの開発に利用。</td>
      </tr>
    </table>

    <h4>技術・ツール</h4>

    <h4>その他スキル</h4>

    <h3>略歴</h3>
    <p>TBA</p>

    <h3>開発実績</h3>
    <p>TBA</p>

    <h3>研究実績</h3>
    <p>TBA</p>

    <h3></h3>
  </section>
</BaseLayout>
