---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    title="KK49DW: PortFolio of S. Hikaru"
    subtitle="ポートフォリオ"
    lastUpdated="2026/03/20"
    showHomeButton={true}
>
    <section>
        <h3>リダイレクト</h3>
        <p>一旦ね。</p>
        <a href="/portfolio_printable">ポートフォリオはこちら</a>
    </section>
</BaseLayout>
