<footer class="text-sm text-gray-500 mt-10 border-t-2 border-gray-200 pt-2">
    このサイトはNetlifyでホスティングされています。<br />
    Source:
    <a
        href="https://github.com/K4nine9/Portfolio"
        class="underline text-orange-600 hover:text-orange-700 transition-colors"
    >
        https://github.com/K4nine9/Portfolio
    </a>
</footer>
